.cell-style{
    width: 100px;
    height: 100px;
    padding:50px;
    background:black;
    margin:5px;
}

.hidden-cell{
    width: 100px;
    height: 100px;
    padding:50px;
    background:red;
    margin:5px;
}