.form-fields {
  display: flex;
  flex-direction:column;
  align-items:center;
}

.greetingInput{
  width:40vw;
  height:5vh;
  font-size: 20px;
  border-radius:2px;
}

.greetButton{
  margin-top: 3%;
  height:5vh;
  border-radius:2px;
  font-size: 16px;
}