.FavCity{
    display: flex;
    flex-direction:column;
    align-items:center;
}

.form-fields{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    margin:0.6rem;
}

.checkBoxes{
    display:flex;
    flex-direction:column;
    
}
.selectCity{
    margin:0.6rem;
}

.statusDispaly{
    text-align: center;
}

.selectCityBtn{
    width:100px;
    height:30px;
    border-radius:2px;
}