.selectState{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.selectStateTag{
    width:150px;
    height:25px;
    border-radius:2px;
}

.selectStateBtn{
    margin:0.6rem;
    border-radius:2px;
    width:60px;
    height:30px;
}