*{
    /*border:2px solid black;*/
}

body{
    
    background:white;
    margin:2%;
    height:100%;
    font-size: 22px;
    
}

.sections{
    height:100%;
    display:flex;
    flex-direction:column;
}

.header{
    height:3%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}

.heading{
    margin:0;
}

.changeModeBtn{
    
    /*margin-right:3%;*/
    background:white;
    border:none;
    height:30px;
    border-radius:0;
    font-size: 18px;
    border:2px solid black;
}

.countriesFilterBar{
    display:flex;
    justify-content:space-between;
    height:2%;
    padding:2% 0 2% 0;
        border:2px solid blue;
    
}

.formFields{
    width:25%;
}


.searchBar{
    border:2px solid red;
    font-size: 18px;
    width:25%;
    height:30px;
    border-radius:2px;
}
.selectRegion
{
    border:2px solid red;
    font-size: 18px;
    width:25%;
    height:30px;
    border-radius:2px;
    
}




.countriesList{
    display:flex;
    flex-wrap:wrap;
    
    
}

.countryCards{
    width: 21%;
    height:300px;
    border-radius:5px;
    overflow: hidden;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-start;
    margin: 2%;
    box-shadow: 5px 10px 18px #888888;
}

.flag{
    height:150px;
}

.imgTag{
    width:inherit;
    height:150px;
}
.details{
    font-size: 18px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.headings{
    margin:0;
    font-size: 0.8em;
}
